{% extends "layout.html" %}
{% block body %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Registration</h1>

          <main class="my-form">
            <div class="cotainer">
              <div class="card shadow mb-4">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary">
                    <a class="btn btn-primary" href="student_reg.html">Student</a>
                    <a class="btn btn-primary" href="staff_reg.html">Staff</a>
                    <a class="btn btn-primary" href="sponsor_reg.html">Sponsor</a>
                    <a class="btn btn-primary" href="donor_reg.html">Donor</a>
                  </h6>
                </div>

                <div class="card-body">
                  <h6 class="m-0 font-weight-bold text-primary">Register a Donor</h6>
            <hr>
                  <form name="my-form" action="" method="">
                    <div class="form-group row">
                      <label for="full_name" class="col-md-4 col-form-label text-md-right">Full Name</label>
                      <div class="col-md-6">
                        <input type="text" id="full_name" class="form-control" name="full-name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                      <div class="col-md-6">
                        <input type="text" id="email_address" class="form-control" name="email-address">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="permanent_address" class="col-md-4 col-form-label text-md-right">Address</label>
                      <div class="col-md-6">
                        <input type="text" id="permanent_address" class="form-control" name="permanent-address">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number</label>
                      <div class="col-md-6">
                        <input type="text" id="phone_number" class="form-control">
                      </div>
                    </div>


                    <div class="form-group row">
                      <label for="religion" class="col-md-4 col-form-label text-md-right">Date of Birth</label>
                      <div class="col-md-6">
                        <div class="input-append date">
                          <input type="date" id="joiningdate" class="form-control form-control-user">
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="CurrentState" class="col-md-4 col-form-label text-md-right">Current State</label>
                      <div class="col-md-6">
                        <!-- <input type="text" id="CurrentState" class="form-control" name="permanent-address"> -->
                        <select id="CurrentState" class="form-control">
                          <option class="select-option" value="2">Active</option>
                          <option class="select-option" value="3">Inactive</option>
                          <!-- <option class="select-option" value="4">III</option>
                          <option class="select-option" value="5">X</option> -->
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="joiningdate" class="col-md-4 col-form-label text-md-right">Date Donation Started</label>
                      <div class="col-md-6">
                        <input type="date" id="joiningdate" class="form-control form-control-user">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="organization" class="col-md-4 col-form-label text-md-right">Organization</label>
                      <div class="col-md-6">
                        <input type="text" id="organization" class="form-control" name="organization">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="Remarks" class="col-md-4 col-form-label text-md-right">Remarks</label>
                      <div class="col-md-6">
                        <input type="text" id="attendance" class="form-control form-control-user">
                      </div>
                    </div>

                    <div class="col-md-6 offset-md-4">
                      <button type="submit" class="btn btn-primary">
                        Register
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </main>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}
