{% extends "layout.html" %}

{% block body %}
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="card">
                    <div class="card-header">Add Blood Test</div>
                    <div class="card-body">

                        <!-- Add classes -->
                        <h6 class="m-0 font-weight-bold text-primary">
                            Student Information
                        </h6>
                        <hr>

                        <form action="{{ url_for('blood') }}" method='post'>


                            <div class="form-group row">
                                <label for="oldModule" class="col-md-4 col-form-label text-md-right">Select Student ID</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="oldModule" name="studentID">
                                      {% for i in studentBlood %}
                                      <option>{{i.ID}}</option>
                                      {% endfor %}
                                    </select>
                                </div>
                            </div>

                                        <div class="form-group row">
                                            <label for="BloodTestDate" class="col-md-4 col-form-label text-md-right">Blood Test Date</label>
                                            <div class="col-md-6">
                                                <div class="input-append date">
                                                    <input type="date" id="BloodTestDate" class="form-control form-control-user" name=bloodTestDate>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="bloodgroup" class="col-md-4 col-form-label text-md-right">Blood Group</label>
                                            <div class="col-md-6">
                                                <input type="text" id="bloodgroup" class="form-control" name="bloodGroup">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="hemoglobinLevels" class="col-md-4 col-form-label text-md-right">Hemoglobin Levels</label>
                                            <div class="col-md-6">
                                                <input type="text" id="hemoglobinLevels" class="form-control" name="hemoglobinLevels">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="bloodTestRemark" class="col-md-4 col-form-label text-md-right">Remarks</label>
                                            <div class="col-md-6">
                                                <textarea id="bloodTestRemark" rows="4" cols="76" name="bloodRemarks"></textarea>
                                            </div>
                                        </div>


                                        <div class="col-md-6 offset-md-4">
                                            <input type="submit" class="btn btn-primary" value="Add">
                                        </div>
                                    <!-- </form> -->


                                    </form>

                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
{% endblock %}
