{% extends "layout.html" %}

{% block body %}


        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="card">
			<div class="card-header">Manage Event Information</div>
				<div class="card-body">

				<!-- Add classes -->
                    <h6 class="m-0 font-weight-bold text-primary">Add Event</h6>
                    <hr>


        <form action="{{ url_for('event') }}" method='post'>

        <div class="form-group row">
            <label for="event_name" class="col-md-4 col-form-label text-md-right">Event Name</label>
            <div class="col-md-6">
                <input type="text" id="event_name" name="eventName" class="form-control" required >
            </div>
        </div>
            <div class="form-group row">
                <label for="eventDate" class="col-md-4 col-form-label text-md-right">Event Date</label>
                <div class="col-md-6">
                    <div class="input-append date">
                        <input type="date" id="eventDate" name="eventDate" class="form-control form-control-user">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="event_budget" class="col-md-4 col-form-label text-md-right">Event Budget</label>
                <div class="col-md-6">
                    <input type="number" id="event_budget"  name="eventBudget" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="event_Remark" class="col-md-4 col-form-label text-md-right">Event Details</label>
                <div class="col-md-6">
                    <textarea id="event_Remark" style="width: 650px; height: 100px" name="eventDetails"></textarea>
                </div>
            </div>


            <div class="col-md-6 offset-md-4">
            <input type="submit" class="btn btn-primary" value="Add">
        </div>

      </form>
<br>

      <!-- Edit Modules -->

                    <h6 class="m-0 font-weight-bold text-primary">Edit Event</h6>
                    <hr>

      <form action="{{ url_for('eventSearch') }}" method='post'>

      <div class="form-group row">
          <label for="oldEvent" class="col-md-4 col-form-label text-md-right">Event to Edit</label>
          <div class="col-md-6">
              <select class="form-control" id="oldEvent" name="existingEvent" required>
                {% for i in events %}
                  <option class="">{{i.Name}}</option>
                {% endfor %}
              </select>
          </div>
          <div class="col-md-6 offset-md-4">
              <input type="submit" class="btn btn-primary" value="Edit">
          </div>

      </div>
      </form>


  <form action="{{ url_for('eventUpdate') }}" method='post'>

      <div class="form-group row">
          <label for="Changeto" class="col-md-4 col-form-label text-md-right">Old Event Name</label>
          <div class="col-md-6">
              <input type="text" disabled id="Changeto" class="form-control" name="oldEventName" placeholder="{{ oldName }}">
          </div>
      </div>


      <div class="form-group row">
          <label for="Changeto" class="col-md-4 col-form-label text-md-right">New Event Name</label>
          <div class="col-md-6">
              <input type="text" id="Changeto" class="form-control" name="newEventName" required>
          </div>
      </div>


      <div class="form-group row">
              <label for="eventDate" class="col-md-4 col-form-label text-md-right">Old Event Date</label>
              <div class="col-md-6">
                  <div class="input-append date">
                      <input type="text" disabled id="eventDate" name="eventDate" class="form-control form-control-user" placeholder="{{ oldDate }}">
                  </div>
              </div>
      </div>

          <div class="form-group row">
              <label for="changeeventDate" class="col-md-4 col-form-label text-md-right">New Event Date</label>
              <div class="col-md-6">
                  <div class="input-append date">
                      <input type="date" id="changeeventDate" name="newEventDate" class="form-control form-control-user">
                  </div>
              </div>
          </div>

          <div class="form-group row">
              <label for="event_budget" class="col-md-4 col-form-label text-md-right">Old Event Budget</label>
              <div class="col-md-6">
                  <input type="number" disabled id="event_budget"  name="event_budget" class="form-control" placeholder="{{ oldBudget }}">
              </div>
          </div>

          <div class="form-group row">
              <label for="Changetobud" class="col-md-4 col-form-label text-md-right">New Event Budget</label>
              <div class="col-md-6">
                  <input type="number" id="Changetobud" class="form-control" name="newEventBudget">
              </div>
          </div>


          <div class="form-group row">
              <label for="event_Remark" class="col-md-4 col-form-label text-md-right">Old Event Details</label>
              <div class="col-md-6">
                  <textarea id="event_Remark" disabled style="width: 650px; height: 100px" >{{ oldRemarks }}</textarea>
              </div>
          </div>

          <div class="form-group row">
              <label for="change_event_Remark" class="col-md-4 col-form-label text-md-right">New Event Details</label>
              <div class="col-md-6">
                  <textarea id="change_event_Remark" style="width: 650px; height: 100px" name="newEventDetails"></textarea>
              </div>
          </div>


       <div class="col-md-6 offset-md-4">
          <input type="submit" class="btn btn-primary" value="Update">
       </div>

    </form>


				</div>
				</div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}
