{% extends "layout.html"%}

{% block body %}
       <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Maintenance</h1>



         <!-- DataTales Example -->


         <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a class="btn btn-primary" href="MaintenanceActivity.html">View Activity</a>
                    <a class="btn btn-primary" href="{{ url_for('MaintenanceEntryLink') }}">Enter Activity</a>
                    <a class="btn btn-primary" href="{{ url_for('MaintenanceCategoryLink') }}">Manage Categories</a> </h6>
              </div>
          <div class="card-body">


            <h6 class="m-0 font-weight-bold text-primary">Add Maintenance Category</h6>
            <hr>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="categoryName" placeholder="Category Name">
                </div>
              </div>

              <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user" id="dueTimeInterval" placeholder="Due Time Interval">

                    </div>
                  </div>


                  <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <select id="" class="form-control">
                               <option disabled selected value="1">Staff Person Incharge</option>
                              <option class="select-option" value="2">Hasan</option>
                              <option class="select-option" value="3">Ahmed </option>
                              <option class="select-option" value="4" >Raza </option>
                              <option class="select-option" value="5" >Bakhtawar </option>
							  <option class="select-option" value="5" >Sufi </option>
                              </select>
                            </div>
                          </div>

              <button class="btn btn-primary" style="width: 10em">Add</button>


         <hr>

         <h6 class="m-0 font-weight-bold text-primary">Remove Maintenance Category</h6>
            <hr>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <select id="" class="form-control">
                       <option disabled selected value="1">----Select Category----</option>
                      <option class="select-option" value="2">Watering Plants</option>
                      <option class="select-option" value="3">Room A cleaning</option>
                      <option class="select-option" value="4" >Room B cleaning</option>
                      <option class="select-option" value="5" >Kitchen</option>
                      <option class="select-option" value="5" >Courtyard</option>
                      <option class="select-option" value="5" >Washroom</option>
                      <option class="select-option" value="5" >External Office</option>
                      <option class="select-option" value="5" >Internal Office</option>
                    </select>
                    </div>
                  </div>

              <button class="btn btn-danger" style="width: 10em"><i class="fas fa-trash"></i> &nbsp;Remove</button>

        </div>


      </div>
    </div>
    <!-- /.container-fluid -->
      <!-- End of Main Content -->

{% endblock %}
