
{% extends "layout.html" %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Mark Attendance</h1>

  <!-- /.container-fluid -->

  <!-- DataTales Example -->


  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <!----<h6 class="m-0 font-weight-bold text-primary">Enter maintenance activity</h6>-->
      <h6 class="m-0 font-weight-bold text-primary">
        <a class="btn btn-primary" href="{{ url_for('viewAttendance') }}">View Attendance</a>
        <a class="btn btn-primary" href="{{ url_for('viewMarkAttendance') }}">Mark Attendance</a>
      </h6>



    </div>
    <div class="card-body">

      <form action="{{ url_for('searchMarkAttendance') }}" method="post">

      <div class="form-group row">
        <label for="selectAttendees" class="col-md-4 col-form-label text-md-right">Select Attendees</label>
        <div class="col-md-6">
          <select id="selectAttendees" class="form-control" onchange="hideClass()"  name="selectAttendeesMA">
            <!-- <option disabled selected value="1">Select Attendees</option> -->
            <option class="select-option">Student</option>
            <option class="select-option">Staff</option>

          </select>
        </div>
      </div>



      <div class="form-group row" >
        <label for="selectClass" id="selectClassLabel" class="col-md-4 col-form-label text-md-right">Select Class</label>
        <div class="col-md-6">
          <select id="selectClass" name="studentClassMA" class="form-control">
            <!-- <option disabled selected value="1">Select Attendees</option> -->
            {% for class in classes %}
              <option class="">{{class.Name}}</option>
            {% endfor %}

          </select>
        </div>
      </div>

      <!-- This catagory is to be decided-->
      <!-- Date and time picker with disbaled dates -->
      <div class="form-group row">
        <label for="date" class="col-md-4 col-form-label text-md-right">Select Month</label>
        <div class="col-md-6">
          <input id="date" type="date" class="form-control" name="dateMA">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6 offset-md-4">
          <input type="submit" class="btn btn-primary" style="width: 10em" value="Search">
        </div>
      </div>

</form>
      <hr class="">

      <form class="" action="{{ url_for('submitAttendance') }}" method="post">

      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>

              <th>ID</th>
              <th>Name</th>
              <th>Status</th>


            </tr>
          </thead>
          <tbody>

            <tr>
              {% for person in people %}
                <td class="">{{person.ID}}</td>
                <td class="">{{person.Name}}</td>

              <td>
                <div class="custom-control custom-radio">
                  <input type="radio" checked class="custom-control-input" id="{{person.ID}}P" value="1" name="{{person.ID}}">
                  <label class="custom-control-label" for="{{person.ID}}P">Present</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="{{person.ID}}L" value="2" name="{{person.ID}}">
                  <label class="custom-control-label" for="{{person.ID}}L">Late</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="{{person.ID}}LE" value="3" name="{{person.ID}}">
                  <label class="custom-control-label" for="{{person.ID}}LE">Leave</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="{{person.ID}}A" value="4" name="{{person.ID}}">
                  <label class="custom-control-label" for="{{person.ID}}A">Absent</label>
                </div>
              </td>


            </tr>
{% endfor %}
<script>

  function hideClass() {
    if (document.getElementById("selectAttendees").value == "1") {
      document.getElementById("selectClassLabel").style.display = "block";
      document.getElementById("selectClass").style.display = "block";
      // document.getElementById("selectClassDiv").setAttribute("hidden","");
    } else {
      document.getElementById("selectClassLabel").style.display = "none";
      document.getElementById("selectClass").style.display = "none";
      // document.getElementById("selectClassDiv").removeAttribute("hidden");
    }
  }
</script>


</div>
</div>

<!-- End of Main Content -->
{% endblock %}
