{% extends "layout.html" %}

{% block body %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <main class="my-form">
              <div class="cotainer">
                  <div class="">
                      <div class="">
                          <div class="card">
                              <div class="card-header">Staff Registration</div>
                              <div class="card-body">
                                  <form name="my-form" action="" method="">
                                      <div class="form-group row">
                                          <label for="full_name" class="col-md-4 col-form-label text-md-right">Full Name</label>
                                          <div class="col-md-6">
                                              <input type="text" id="full_name" class="form-control" name="full-name">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label for="guardian_name" class="col-md-4 col-form-label text-md-right">Guardian Name</label>
                                          <div class="col-md-6">
                                              <input type="text" id="guardian_name" class="form-control" name="full-name">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                          <div class="col-md-6">
                                              <input type="text" id="email_address" class="form-control" name="email-address">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label for="email_address" class="col-md-4 col-form-label text-md-right">Gender</label>
                                          <div class="col-md-6">
                                          <input type="checkbox" id="html">
                                          <label for="html">Female</label>
                                          </div>
                                      </div>
                                      <div class="form-group row ">
                                          <label for="email_address" class="col-md-4 col-form-label text-md-right"></label>
                                          <div class="col-md-6">
                                          <input type="checkbox" id="css">
                                          <label for="css">Male</label>
                                          </div>
                                      </div>


                                      <div class="form-group row">
                                          <label for="religion" class="col-md-4 col-form-label text-md-right">Date of Birth</label>
                                          <div class="col-md-6">
                                              <div class="input-append date">
                                                  <input type="date" id="joiningdate" class="form-control form-control-user">
                                              </div>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="category" class="col-md-4 col-form-label text-md-right">Category</label>
                                          <div class="col-md-6">
                                              <input type="text" id="category" class="form-control" name="username">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="salary" class="col-md-4 col-form-label text-md-right">Salary</label>
                                          <div class="col-md-6">
                                              <input type="text" id="salary" class="form-control" name="permanent-address">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="joiningdate" class="col-md-4 col-form-label text-md-right">Joining Date</label>
                                          <div class="col-md-6">
                                              <input type="date" id="joiningdate" class="form-control form-control-user">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="qualification" class="col-md-4 col-form-label text-md-right">Qualification</label>
                                          <div class="col-md-6">
                                              <input type="text" id="qualification" class="form-control" name="permanent-address">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="campus" class="col-md-4 col-form-label text-md-right">Campus</label>
                                          <div class="col-md-6">
                                              <input type="text" id="campus" class="form-control" name="permanent-address">
                                          </div>
                                      </div>



                                      <div class="form-group row">
                                          <label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number</label>
                                          <div class="col-md-6">
                                              <input type="text" id="phone_number" class="form-control">
                                          </div>
                                      </div>



                                      <div class="col-md-6 offset-md-4">
                                          <button type="submit" class="btn btn-primary">
                                              Register
                                          </button>
                                      </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              </div>

          </main>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}
