{% extends "layout.html "%}

{% block body %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Registration</h1>

          <main class="my-form">
            <div class="cotainer">
              <div class="card shadow mb-4">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary">
                    <a class="btn btn-primary" href="{{ url_for('registerStudentLink') }}">Student</a>
                    <a class="btn btn-primary" href="{{ url_for('registerStaffLink') }}">Staff</a>
                    <a class="btn btn-primary" href="{{ url_for('registerDonorLink') }}">Donor</a>
                  </h6>
                </div>
                <!-- <div class="card-header">Sponsor Registeration</div> -->
                <div class="card-body">
                  <h6 class="m-0 font-weight-bold text-primary">Register a Sponsor</h6>
            <hr>
                  <form name="my-form" action="{{ url_for('registerSponsor') }}" method="post">
                    <div class="form-group row">
                      <label for="full_name" class="col-md-4 col-form-label text-md-right">Full Name</label>
                      <div class="col-md-6">
                        <input type="text" id="full_name" class="form-control" name="sponsorFullName" required>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="gender" class="col-md-4 col-form-label text-md-right">Gender</label>
                      <div class="col-md-6">
                        <input type="radio" id="html" name="sponsorGender" value="female">
                        <label for="html">Female</label>
                      <!-- </div>
                      <div class="col-md-6"> -->
                        <input type="radio" id="css" name="sponsorGender" value="male">
                        <label for="css">Male</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="sponsorCompany" class="col-md-4 col-form-label text-md-right">Company/Organization</label>
                      <div class="col-md-6">
                        <input type="text" id="sponsorCompany" class="form-control form-control-user" name="sponsorCompany">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="sponsorDesignation" class="col-md-4 col-form-label text-md-right">Designation</label>
                      <div class="col-md-6">
                        <input type="text" id="sponsorDesignation" class="form-control form-control-user" name="sponsorDesignation">
                      </div>
                    </div>



                    <div class="form-group row">
                      <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                      <div class="col-md-6">
                        <input type="text" id="email_address" class="form-control" name="sponsorEmail">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="permanent_address" class="col-md-4 col-form-label text-md-right">Address</label>
                      <div class="col-md-6">
                        <input type="text" id="permanent_address" class="form-control" name="sponsorAddress">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number</label>
                      <div class="col-md-6">
                        <input type="text" id="phone_number" class="form-control" name="sponsorPhoneNumber">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="CurrentState" class="col-md-4 col-form-label text-md-right">Current State</label>
                      <div class="col-md-6">
                        <!-- <input type="text" id="CurrentState" class="form-control" name="permanent-address"> -->
                        <input type="text" id="CurrentState" class="form-control" name="sponsorCurrentState">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="SponsorshipDue" class="col-md-4 col-form-label text-md-right">Date Sponsorship Due</label>
                      <div class="col-md-6">
                        <input type="date" id="SponsorshipDue" class="form-control form-control-user" name="sponsorDateSponsorshipDue">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="SponsorshipStartDate" class="col-md-4 col-form-label text-md-right">Date Sponsorship
                        Started</label>
                      <div class="col-md-6">
                        <input type="date" id="sponsorshipStartdate" class="form-control form-control-user" name="sponsorDateSponsorshipStart">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="remarks" class="col-md-4 col-form-label text-md-right">Remarks</label>
                      <div class="col-md-6">
                        <input type="text" id="remarks" class="form-control" name="sponsorRemarks">
                      </div>
                    </div>

                    <!-- <div class="form-group row">
                      <label for="campus" class="col-md-4 col-form-label text-md-right">Campus</label>
                      <div class="col-md-6">
                        <input type="text" id="campus" class="form-control" name="permanent-address">
                      </div>
                    </div> -->


                    <div class="col-md-6 offset-md-4">
                      <button type="submit" class="btn btn-primary">
                        Register
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </main>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
{% endblock %}
