{% extends "layout.html" %}

{% block body%}

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Registration</h1>

          <main class="my-form">
            <div class="cotainer">
              <div class="card shadow mb-4">
                <div class="card-header"><h6 class="m-0 font-weight-bold text-primary">
                  <a class="btn btn-primary" href="{{ url_for('registerStudentLink') }}">Student</a>
                  <a class="btn btn-primary" href="{{ url_for('registerSponsorLink') }}">Sponsor</a>
                  <a class="btn btn-primary" href="{{ url_for('registerDonorLink') }}">Donor</a>
                 </h6>
    </div>

                <div class="card-body">
                  <h6 class="m-0 font-weight-bold text-primary">Register a Staff Person</h6>
            <hr>
                  <form name="my-form" action="{{ url_for('registerStaff') }}" method="post">
                    <div class="form-group row">
                      <label for="full_name" class="col-md-4 col-form-label text-md-right">Full Name</label>
                      <div class="col-md-6">
                        <input type="text" id="full_name" class="form-control" name="staffFullName" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="guardian_name" class="col-md-4 col-form-label text-md-right">Guardian Name</label>
                      <div class="col-md-6">
                        <input type="text" id="guardian_name" class="form-control" name="staffGuardianName">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                      <div class="col-md-6">
                        <input type="text" id="email_address" class="form-control" name="staffEmailAddress">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="permanent_address" class="col-md-4 col-form-label text-md-right">Address</label>
                      <div class="col-md-6">
                        <input type="text" id="permanent_address" class="form-control" name="staffAddress">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="gender" class="col-md-4 col-form-label text-md-right">Gender</label>
                      <div class="col-md-6">
                        <input type="radio" id="html" name="staffGender" value="female">
                        <label for="html">Female</label>
                      <!-- </div>
                      <div class="col-md-6"> -->
                        <input type="radio" id="css" name="staffGender" value="male">
                        <label for="css">Male</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="dob" class="col-md-4 col-form-label text-md-right">Date of Birth</label>
                      <div class="col-md-6">
                        <input type="date" id="dob" class="form-control form-control-user" name="staffDob">
                      </div>
                    </div>


                    <div class="form-group row">
                      <label for="religion" class="col-md-4 col-form-label text-md-right">Religion</label>
                      <div class="col-md-6">
                        <input type="text" id="religion" class="form-control" name="staffReligion">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="category" class="col-md-4 col-form-label text-md-right">Category</label>
                      <div class="col-md-6">
                        <!-- <input type="text" id="category" class="form-control" name="username"> -->
                        <select id="category" class="form-control" name="staffCategory">
                          <option class="select-option" value="2">I</option>
                          <option class="select-option" value="3">II</option>
                          <option class="select-option" value="4">III</option>
                          <option class="select-option" value="5">X</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="salary" class="col-md-4 col-form-label text-md-right">Salary</label>
                      <div class="col-md-6">
                        <input type="number" id="salary" class="form-control" name="staffSalary" placeholder=0>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="joiningdate" class="col-md-4 col-form-label text-md-right">Joining Date</label>
                      <div class="col-md-6">
                        <input type="date" id="joiningdate" class="form-control form-control-user" name="staffJoiningDate">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="qualification" class="col-md-4 col-form-label text-md-right">Qualification</label>
                      <div class="col-md-6">
                        <input type="text" id="qualification" class="form-control" name="staffQualification">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="campus" class="col-md-4 col-form-label text-md-right">Campus</label>
                      <div class="col-md-6">
                        <!-- <input type="text" id="campus" class="form-control" name="permanent-address"> -->
                        <select id="campus" class="form-control" name="staffCampus">
                          <option class="select-option" value="2">TGS 1</option>
                          <option class="select-option" value="3">TGS 2</option>
                          <option class="select-option" value="4">TGS 3</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number</label>
                      <div class="col-md-6">
                        <input type="text" id="phone_number" class="form-control" name="staffPhoneNumber">
                      </div>
                    </div>


                    <div class="form-group row">
                      <label for="image" class="col-md-4 col-form-label text-md-right">Upload Image</label>
                      <div class="col-md-6">
                        <input type="file" id="image" class="btn btn-secondary" name="staffImage">
                      </div>
                    </div>

                    <div class="col-md-6 offset-md-4">
                      <button type="submit" class="btn btn-primary">
                        Register
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </main>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}
